body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*Login*/

.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.container.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Dashboard*/
@media (min-width: 992px){
.db-sec-wrap {
    height: 100vh;
}
}
.db-sec-wrap > div {
    padding: 0;
}

/*  Aside Bar  */
.wrap-aside {
    background-color: #22292f;
    height: 100%;
    overflow-y: scroll;
    color: #fff;
    font-size: 18px;
}
/* width */
.wrap-aside::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.wrap-aside::-webkit-scrollbar-track {
  background: #22292f; 
}
/* Handle */
.wrap-aside::-webkit-scrollbar-thumb {
  background: #2e353a; 
}
/* Handle on hover */
.wrap-aside::-webkit-scrollbar-thumb:hover {
  background: #2e353a; 
}
.wa-logo {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}
.wa-logo img {
    /*height: 39%;*/
    width: 100%;
    filter: brightness(34.5);
}
ul.wa-nav {
    padding: 0;
    list-style-type: none;
}
li.wa-item.active {
    background-color: #2e353a;
}
li.wa-item {
    padding: 20px;
}
li.wa-item, li.wa-item a {
    color: #8e9498;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    position: relative;
    font-family: Arial,sans-serif, "Font Awesome 5 Free";
}
ul.wa-nav > li.wa-item:hover, ul.wa-nav > li.wa-item:hover > a,
ul.wa-nav > li.wa-item ul.wa-sub-nav > li.wa-item:hover, ul.wa-nav > li.wa-item ul.wa-sub-nav > li.wa-item:hover > a,
li.wa-item.active, li.wa-item.active a {
    background-color: #2e353a;
    color: #fff;
}
li.wa-item:before {
    padding-right: 10px;
}
/*ul.wa-nav li.wa-item.wa-sub:after {
    content: "\f054";
    position: absolute;
    top: 22px;
    right: 30px;
}
ul.wa-nav li.wa-item.wa-sub.open:after {
    content: "\f078";
}*/
ul.wa-nav li.wa-item.wa-sub ul.wa-sub-nav {
    padding-left: 0px;
    padding-top: 20px;
    list-style-type: none;
}

/*  Content  */
.wrap-content {
    padding: 0 20px 20px;
    height: 100%;
    background-color: #eff2f4;
}
.wc-title {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}
.wc-content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 18px 0px #00000029;
}
thead {
    background-color: #22292f;
    color: #fff;
}
.wc-content table {
    width: 100%;
}
.wc-content table th {
    font-size: 18px;
}
#wc-table_wrapper input, #wc-table_wrapper select {
    box-shadow: none;
    outline: none;
}
table#wc-table a {
    color: #22292f;
    font-weight: 500;
}
table#wc-table a:hover {
    color: #000;
    font-weight: 500;
}
#wc-table_paginate .paginate_button {
    color: #000 !important;
}
#wc-table_paginate .paginate_button.current, #wc-table_paginate .paginate_button:hover {
    background: #22292f !important;
    color: #fff !important;
    border-color: #22292f !important;
}
#wc-table_paginate.dataTables_paginate .paginate_button.disabled, #wc-table_paginate.dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent !important;
    background: transparent !important;
    box-shadow: none;
}