body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Login*/

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}
.container.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Dashboard*/
.db-sec-wrap > div {
    padding: 0;
}

/*  Aside Bar  */
.wrap-aside {
    background-color: #22292f;
    height: 100%;
    overflow-y: scroll;
    color: #fff;
    font-size: 18px;
}
/* width */
.wrap-aside::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.wrap-aside::-webkit-scrollbar-track {
  background: #22292f; 
}
/* Handle */
.wrap-aside::-webkit-scrollbar-thumb {
  background: #2e353a; 
}
/* Handle on hover */
.wrap-aside::-webkit-scrollbar-thumb:hover {
  background: #2e353a; 
}
.wa-logo {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}
.wa-logo img {
    /*height: 39%;*/
    width: 100%;
    /*filter: brightness(34.5);*/
}
.wa-menu nav.navbar.navbar-inverse {
    border: none;
    background: transparent;
    padding: 0;
}
.wa-menu div#myNavbar {
    padding-left: 20px;
    padding-right: 20px;
}
.wa-menu .nav.navbar-nav {
    width: 100%;
}
.wa-menu .navbar-inverse .navbar-nav>.active>a, .wa-menu .navbar-inverse .navbar-nav>.active>a:focus, .wa-menu .navbar-inverse .navbar-nav>.active>a:hover {
    background: #2e353a !important;
}
.wa-menu .navbar-inverse .navbar-nav>.active>a, .wa-menu .navbar-inverse .navbar-nav>.open>a {
    box-shadow: none;
}
.wa-menu .dropdown-menu {
    background: #2e353a !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.nav.navbar-nav i {
    width: 30px;
}
.wa-menu .dropdown-menu > li > a {
    color: #9d9d9d;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.nav.navbar-nav > li:not(:last-child) {
    border-bottom: 1px solid #16161657;
}
.wa-menu .dropdown-menu > li > a:hover {
    color: #fff;
    background: transparent;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}
.dropdown.open .dropdown-toggle::after {
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-left: 0;
    margin-top: 6px;
}

/*  Content  */
.wrap-content {
    padding: 0 20px 20px;
    height: 100%;
    background-color: #eff2f4;
}
.wc-title {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}
.wc-content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 18px 0px #00000029;
}
thead {
    background-color: #22292f;
    color: #fff;
}
.wc-content table {
    width: 100%;
}
.wc-content table th {
    font-size: 18px;
}
#wc-table_wrapper input, #wc-table_wrapper select {
    box-shadow: none;
    outline: none;
}
table#wc-table a {
    color: #22292f;
    font-weight: 500;
}
table#wc-table a:hover {
    color: #000;
    font-weight: 500;
}
#wc-table_paginate .paginate_button {
    color: #000 !important;
}
#wc-table_paginate .paginate_button.current, #wc-table_paginate .paginate_button:hover {
    background: #22292f !important;
    color: #fff !important;
    border-color: #22292f !important;
}
#wc-table_paginate.dataTables_paginate .paginate_button.disabled, #wc-table_paginate.dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent !important;
    background: transparent !important;
    box-shadow: none;
}


@media (min-width: 992px){
.db-sec-wrap {
    height: 100vh;
}
.wrap-aside, .wa-menu .navbar .navbar-collapse.collapse {
    display: block !important;
}
.wa-menu .nav-header > button.navbar-toggle {
    display: none !important;
}
.wa-menu {
    margin-top: 0px !important;
}
}

.wa-menu .nav-header > button.navbar-toggle {
    display: block;
}
.wa-menu .navbar-collapse.collapse {
    display: none !important;
}
.wa-menu .navbar-collapse.collapse.in {
    display: block !important;
}
.wa-menu {
    margin-top: -90px;
}
.nav-header {
    width: 100%;
}
button.navbar-toggle {
    margin-bottom: 52px;
    transition: 0.5s;
}
button.navbar-toggle.collapsed {
    margin-bottom: 8px;
}




